body{font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Verdana,sans-serif}
* {font-size: 14px}
button.close span{font-size: 18px !important}
.pointer, button, label, .listup, .listcont, .monthData{cursor: pointer}
#container{padding-bottom: 3em; padding-top: 3em;}
#nextBox,#nextOfNextBox,#shiftTable{display: none}
.is-valid{background-color: #d4edda}
.is-invalid{background-color: #f8d7da}
iframe{display: none}
.form-control-sm{font-size: 1em}
.form-inline-input input{margin-bottom: .3em}
#nextBox{border: 1px solid #d5e2db;border-left: 5px solid #01917b;padding: 2em}
#nextBox h3{font-size: 22px}
#nextBox p, #nextBox a{font-size: 26px;text-decoration: underline}
#nextOfNextBox {font-size: 1.1em;margin:.8em 0}
#nextOfNextWork, #nextOfNextWork a {font-size: 19px;text-decoration: underline}
#thanks{display:none;position: fixed;bottom: 1em;left: 1em}
.remove{color: #D53B5A;cursor: pointer}
.monthData:hover, .remove:hover, .listup:hover, .listcont:hover{background-color: #eee;transition: background-color 0.3s ease 0s}
.listcont{padding:.8em;display: inline-block}
.buttons button{margin-bottom: 1em}
.undo{cursor: pointer;text-decoration: underline}
.modal select[data-opt]{max-width: 100px}
.aaa{padding-left: .5rem; font-size: 0.9rem}
.bbb{padding-left: 1rem; font-size: 0.8rem}
.ccc{padding-left: 1.5rem; font-size: 0.8rem}
.aaa, .bbb, .ccc{display: block; text-align: justify}
#calcSalaryTbody small{display: block}
.fpickr-invalid {background-color: #ffe5e5 !important;border-color: #fcb3b3 !important}
.fpickr-valid {background-color: #f1ffef !important;border-color: #b6e0b1 !important}
#ToSModal a{color: rgb(68, 68, 68); font-size: 0.8rem}
.ToSBody, .ShiftChangeBody, .AboutSiteBody{font-size: 0.8rem; text-align: justify}
.form-control[disabled]{border:1px solid #ccc !important}
.khand{font-family: 'Khand', sans-serif; color: #fff;}
.octicon{
  fill: #fff;
  vertical-align: middle;
}
.list-group-item{border-style: none}
.salaryHidden{display: none}
.salaryShown{display: block}
#calendar #today{color: #01917b}
#calendar .sat{color: blue}
#calendar .sun{color: red}
